.footer-map {
  position: relative;
  background-color: #F6F6F6;
  margin-top: 100px;
  padding: 62px 0;
}

.footer-map__wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
  z-index: 2;
}

.footer-map__content {
  padding: 32px;
  background-color: #fff;
  border: 1px solid $light;
  border-radius: 10px;
  pointer-events: all;
}

.footer-map__logo {
  max-width: 100%;
}

.footer-map__address {
  margin: 20px 0;
  font-size: 24px;
}

.footer-map__contacts {
  margin: 20px 0;
  line-height: 2;
}

.footer-map__map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

@media (max-width: 850px) {
  .footer-map {
    padding: 40vh 0 0;
  }
  .footer-map__map {
    bottom: auto;
    height: 40vh;
  }
  .footer-map__wrapper {
    width: 100%;
  }
  .footer-map__content {
    width: 100%;
    border: none;
    border-radius: 0;
  }
}
