$dark: #3B3B3C;
$acc: #1c449c;
$accLight: #30C2FF;
$light: #C4C4C4;

$black: #1F1F1F;
$grey: #59606D;
$grey-light: #959DAD;
$grey-extra-light: #F8F8F8;
$white: #FFFFFF;

$yellow: #F2C94C;
$err: #ff7777;
